name: vulnerable

on:
  schedule:
    - cron: "9 9 * * 0"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: spotdemo4/intel-gpu-exporter/.github/actions/init@main

      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: ".#vulnerable"

      - run: pip-audit .

  flake:
    runs-on: ubuntu-latest
    steps:
      - uses: spotdemo4/intel-gpu-exporter/.github/actions/init@main

      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
        with:
          arguments: ".#vulnerable"

      - run: flake-checker -f
